body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.font-f {
  font-family: 'Roboto Mono', monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.f {
  color: 'blue'
}
.bg-green {
  background-color: #7ABF7A;
}
.navbar-brand {
  font-family: 'Roboto Mono', monospace;
}
.navbar-toggle {
  color: white
}